<h2>Edit car</h2>
<div class="row">
	<div class="col-md-6">
		<form novalidate name="EditForm" id="edit-form" method="post"
			action="">
			<input type="hidden" ng-model="car.id" value="{{car.id}}" />

			<div class="form-group">
				<label>Marque:</label> <input class="form-control" type="text"
					ng-model="car.Car" value = "{{car.Car}}" required />
			</div>
			<div class="form-group">
				<label>Puissance:</label> <input class="form-control" type="text"
					ng-model="car.Power" value = "{{car.Power}}" required />
			</div>
			
			<button class="btn btn-primary"
				ng-disabled="AddNewForm.$invalid || isUnchanged(car)"
				id="add-new-btn" ng-click="update(car)">
				Update <span class="glyphicon glyphicon-floppy-disk"></span>
			</button>
			<button class="btn btn-danger" ng-click="delete(car)">
				Delete <span class="glyphicon glyphicon-trash"></span>
			</button>
			<a href="#/" class="btn">Cancel</a>
		</form>
	</div>
</div>